extends layout 

block content 
  main 
    h2 Hello, #{user.firstName}! 
    div(class="messages-container")
      if !messages  || messages.length === 0
        p No messages yet!
      else 
        if user.membershipStatus === false 
          p You are not an exclusive member yet! Join the private club to see the message author and dates.
          for msg in messages
            div(class="message")
              p(class="message-title")= msg.title 
              p(class="message-text")= msg.text
              div(class="message-author-date")
                if msg.author.id === user.id
                  p #{msg.author.firstName} #{msg.author.lastName} 
                  p= msg.formattedCreationDate
                else
                  p Anonymous 
                  p mm/dd/yyyy
        else 
          p Thank you being a member of our private club. 
          for msg in messages
            div(class="message")
              p(class="message-title")= msg.title 
              p(class="message-text")= msg.text
              div(class="message-author-date")
                p #{msg.author.firstName} #{msg.author.lastName} 
                p= msg.formattedCreationDate

      form(action="/dashboard/newmessage" method="POST" style={"margin" : "20px"})
        p Send a new message
        input(type="text" id="title" name="title" required placeholder="Title" value=(title === "undefined" ? "" : title))   
        textarea(name="text", cols="20", rows="5" required placeholder="Message" value=(text === "undefined" ))
        button(type="submit" class="send") Send  

    a(href="/users/logout") Log Out
    
 
